﻿@model FacultyLanding.Models.Admin

@{
    ViewData["Title"] = "Login";
    ViewData["NoNavbar"] = true;
}


<div class="row">
    
    <div class="col-md-offset-4 col-md-5">
        <h2 class="text-center login-header">Login</h2>
        <br>
        <form asp-controller="Home" asp-action="Login">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group p-a-2">
                    <label asp-for="Login" class="col-md-2 control-label"></label>
                    <div class="col-md-10 ">
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group p-a-2">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group p-a-2">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</div>

<style>
body{
    min-height:100vh;
    display:flex;
    background:whitesmoke;
}

body>*{
    margin:auto;
}
.login-header{
    margin-bottom:30px;
}



</style>