<footer class="footer shadow--2">
  <div class="row center-content m-b-1">
    <a pageScroll [routerLink]="['/home']" href="#bprograms">Бакалаврат</a>
    <a pageScroll [routerLink]="['/home']" href="#mprograms">Магістратура</a>
    <a pageScroll [routerLink]="['/home']" href="#proff">Викладачі</a>
    <a pageScroll [routerLink]="['/home']" href="#facts">Факти</a>
    <a pageScroll [routerLink]="['/home']" href="#news">Новини</a>
    <a pageScroll [routerLink]="['/home']" href="#companies">Перспективи</a>
    <a pageScroll [routerLink]="['/home']" href="#aboutus">Відгуки</a>
    <a pageScroll [routerLink]="['/home']" href="#contacts">Контакти</a>
  </div>
  <div class="row">
    <div class="row footer-text text-center">
        © 2016 <strong>Національний університет "Києво-Могилянська академія"</strong>
    </div>
  </div>
</footer>
