<div class="container-fluid p-a-0" id="ngheader">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top  m-a-0" id="navbar" role="navigation" [ngClass]="{'navbar-fixed-top': isFixed,'head':opc_header}">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" pageScroll [routerLink]="['/home']" href="#ngheader">FI NaUKMA</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-right" id="header">
        <ul class="nav navbar-nav" role="tablist">
          <li><a pageScroll [routerLink]="['/home']" href="#bprograms">Бакалаврат</a></li>
          <li><a pageScroll [routerLink]="['/home']" href="#mprograms">Магістратура</a></li>
          <li><a pageScroll [routerLink]="['/home']" href="#proff">Викладачі</a></li>
          <li><a pageScroll [routerLink]="['/home']" href="#facts">Факти</a></li>
          <li><a pageScroll [routerLink]="['/home']" href="#news">Новини</a></li>
          <li><a pageScroll [routerLink]="['/home']" href="#companies">Перспективи</a></li>
          <li><a pageScroll [routerLink]="['/home']" href="#aboutus">Відгуки</a></li>
          <li><a pageScroll [routerLink]="['/home']" href="#contacts">Контакти</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</div>
