@import "../styles/colors";

$navbar_color:white;
$linkActive_backcolor:$lightgray;
$link_color: $main_color;
$header_opacity:0.8;



nav {
transition: all 0.5s ease-in-out;

background: $navbar_color;
}


nav.head{
  .navbar-brand{
   border:2px solid lighten($main_color,50%);
    border-radius: 4px;
  }
  padding: 20px;
  background: rgba(0, 29, 81, 0.51);
 a{
   color: white;

 }
}
nav a {
color: $link_color;
transition: all 1s;
font-size: 20px;
}
nav li.active a,
nav a:hover {
color: $main_color;
background: $linkActive_backcolor;
}
