@import "../styles/colors";
#preloader{
  margin-top: 100px;
  position: relative;
  background: none !important;
  width: auto;
  height: auto;
  color: black;

  div{
   border:none ;
  }
  div:after{
    border-top-color: $main-color;
  }
  div:before{
    display: none;
  }
}
