﻿@model FacultyLanding.Models.Review

@{
    ViewData["Title"] = "AdminEdit";
}

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Review</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ReviewId" />
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhotoLink" class="col-md-2 control-label"></label>
            <img src="@Model.PhotoLink" />
            <div class="col-md-10">
                <input type="hidden" asp-for="PhotoLink" class="form-control" />
                <input asp-for="PhotoLink" type="file" name="file" class="form-control" />
                <span asp-validation-for="PhotoLink" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Author" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
