﻿@using FacultyLanding.Models

@model IEnumerable<Review>

@{
    ViewData["Title"] = "ReviewsAdmin";
}

<p>
    <a class="btn btn-link" asp-action="Create">Create New</a>
</p>

<form asp-controller="Review" asp-action="Index" method="get">

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Author", "Index")
            </th>
            <th class="no_sort">
                @Html.ActionLink("Photo", "Index")
            </th>
            <th>
                @Html.ActionLink("Title", "Index")
            </th>
            <th>
                @Html.ActionLink("Content", "Index")
            </th>
            <th class="no_sort"></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.PhotoLink)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
