﻿<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <base href="/" />
<link rel="icon" 
      type="image/png" 
      href="http://example.com/myicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
