﻿@model FacultyLanding.Models.Professor

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Review</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
             </div>
        </div>
        <div class="form-group">
            <label asp-for="PhotoLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhotoLink" type="file" name="file" class="form-control" />
                <span asp-validation-for="PhotoLink" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Title">
                    <option selected="selected" value="Кандидат наук">Кандидат наук</option>
                    <option value="Доктор наук">Доктор наук</option>
                </select>
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Position">
                    <option value="Асистент">Асистент</option>
                    <option selected="selected" value="Старший викладач">Старший викладач</option>
                    <option value="Доцент">Доцент</option>
                    <option value="Професор">Професор</option>
                </select>
                <span asp-validation-for="Position" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Portfolio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Portfolio" class="form-control" ></textarea>
                <span asp-validation-for="Portfolio" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Website" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
