﻿@using FacultyLanding.Models

@model IEnumerable<Professor>

@{
    ViewData["Title"] = "NewsAdmin";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Review" asp-action="Index" method="get">

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index")
            </th>
            <th class="no_sort">
                @Html.ActionLink("Photo", "Index")
            </th>
            <th>
                @Html.ActionLink("Title", "Index")
            </th>
            <th>
                @Html.ActionLink("Position", "Index")
            </th>
            <th>
                @Html.ActionLink("Phone", "Index")
            </th>
            <th>
                @Html.ActionLink("Email", "Index")
            </th>
            <th>
                @Html.ActionLink("Website", "Index")
            </th>
            <th class="no_sort"></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.PhotoLink)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProfessorId">Edit</a>
                    <br>
                    <a asp-action="Details" asp-route-id="@item.ProfessorId">Details</a>
                    <br>
                    <a asp-action="Delete" asp-route-id="@item.ProfessorId">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
<!--
<div class="row">
    <div class="col-md-5 contacts">
        <h4 class="text-center">Contacts</h4>
        <form method="get" asp-action="SendEmail" asp-controller="Professor">
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Email:</label>
                    <div class="col-md-10">
                        <input name="email" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject" class="col-md-2 control-label">Subject:</label>
                    <div class="col-md-10">
                        <input name="subject" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="messageBody" class="col-md-2 control-label">Message:</label>
                    <div class="col-md-10">
                        <input name="messageBody" class="form-control" />
                    </div>
                </div>


                <div class="form-group pull-right">

                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
        </form>

</div>-->
</div>
