@import "../styles/colors";

.about-body h3 {
  text-shadow: none;
  color: $main_color;
}


.item{
  height: 470px;
  .img-circle{

  }

  .about-image{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
  }
  .about-text-author{
    text-shadow: none;
    color: lightgray;;
  }
  .about-text-body{
    text-shadow: none;
    color: gray;;
  }

  .carousel-caption{
    padding: 30px;
  }



}

.carousel-control{
  max-width:100px;
  display:flex;
  background: initial;
  .btn{
    margin: auto;
  }

}

.container-fluid {
    background: #f5f5f5;
}
