<div class="container-fluid" id="aboutus">



  <div class="sections-header text-center ">

    <h3><strong>Відгуки</strong></h3>
    <div class="center-content">
      <div class="sections-header-addon"></div>
    </div>
  </div>

  <loader *ngIf="isFetching"></loader>


  <div id="about-us" class="carousel slide" data-ride="carousel" *ngIf="!isFetching">
  <!-- Wrapper for slides -->
  <div class="carousel-inner " role="listbox">

    <div class="row item " *ngFor="let l of Reviews;let i=index;" [ngClass]="{active: i==0}">

      <div class="carousel-caption">
        <div class="row center-content">
          <div [ngStyle]="{ 'background-image': 'url(' + l.photoLink + ')'}"  class=" about-image img-circle">
            </div>
        </div>
      <div class="about-body col-md-12">
        <h3 >{{l.title}}</h3>
        <p class="-quote-left -quote-right text-contrast">{{l.content}}</p>
        <p><i>{{l.author}}</i></p>
      </div>



    </div>
      </div>
    <!-- Controls -->
    <a class="left carousel-control " >
      <span href="#about-us" role="button" data-slide="prev" class="btn btn-link btn-outline-inverse">
        <i class="fa fa-angle-left fa-3x "></i>
      </span>
    </a>

    <a class="right carousel-control " >
      <span href="#about-us" role="button" data-slide="next" class="btn btn-link btn-outline-inverse">
        <i class="fa fa-angle-right fa-3x "></i>
      </span>

    </a>


</div>
</div>
  </div>
