<div class="container-fluid m-y-4" id="bprograms">
  <div class="sections-header text-center ">

    <h3><strong>Бакалаврські програми</strong></h3>
    <div class="center-content">
      <div class="sections-header-addon"></div>
    </div>
  </div>


  <loader *ngIf="isFetching"></loader>


  <div class="row section-content" *ngIf="!isFetching">



    <!--{{Uprograms|json}}-->
      <div class="col-md-3">
          <ul class="nav text-right" role="tablist" >
            <li role="presentation" *ngFor="let l of Uprograms;let i=index"  (click)="tabActive=ref.id"  #ref  [attr.id]="l.upId"  [ngClass]="{'active': ref.id===tabActive}"><a >{{l.name}}</a></li>

          </ul>
        </div>

        <div class="col-md-9">
          <div class="tab-content">
            <div role="tabpanel" *ngFor="let l of Uprograms;let i=index" class="tab-pane"  #tab [ngClass]="{'active':tab.id===tabActive }" [attr.id]="l.upId">
            <div class="row p-x-2">
              <div class="col-md-3">
                <div class="row  p-a-2 border">
                  <div class="member">
                    <div class="image m-x-auto" *ngIf="l.professor!=null">
                      <img class=" img-responsive img-center m-l-auto" src="{{l.professor.photoLink}}" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 member-body">
                <p>{{l.desscription}} {{l.upId}}</p>
                  <div >
                    <a [routerLink]="['/bprograms/'+l.upId]" class="btn btn-outline-inverse pull-right">Детальніше</a>
                  </div>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>

  </div>

