@import "../styles/colors";

.container-fluid {

  li.active {
    background: #eee;
  }

  a {
    color: $main_color;
  }

  ul li{
    cursor: pointer;
  }

  max-height: 100vh;
  font-size: $plain_font;
  min-height: fit-content;
  .member-body {
    max-width: 800px;
  }
  background: white;

  .image:before, .image:after {
    background: white;
  }
}
