<div id="carousel-header" class="carousel slide shadow--2dp" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!--<li data-target="#carousel-header" *ngFor="let l of items;let i=index" data-slide-to={{i}} ></li>-->
  </ol>

  <!-- Wrapper for slides -->
  <div  role="listbox">
    <div class="item active"   [ngStyle]="{ 'background-image': 'url(' + item + ')'}">
      <div class="carousel-caption">
        <div class="content-center">

        <div class="carousel-content">
          <h1>Факультет інформатики - це
            <span
              class="txt-rotate"
              data-period="2000"
              data-rotate='[ "знайомства ", "можливості", "запорука твого майбутнього" ]'></span>
          </h1>
        </div>
        </div>
      </div>
    </div>

  </div>
