/*carousel*/
@import "../styles/colors";



.carousel {
  height: 50%;
}

.content{
  color: $main_color;

}
.content-center{
  margin: auto;
}
.item{
  display: flex;
  height: 700px;
  background-size:cover;
  background-position: center;
  opacity: 0.9;
}
