@import "../styles/colors";

#companies{
  display: flex;
  flex-direction: column;

}

.container-fluid{
  display: flex;
  background-color: white;
  min-height: 300px;
}

.logo{
  img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  max-width: 85px;
  transition: all 300ms ease;
  transform-origin: top;
  &:hover{
    max-width: 120px;
    img{
      filter: grayscale(10%);
      -webkit-filter: grayscale(10%);

    }

  }

}



