<div class="container-fluid shadow--2dp" id="companies">
  <div class="col-lg-12">
    <div class="sections-header text-center ">
      <h3><strong>Перспективи</strong></h3>
      <div class="center-content">
        <div class="sections-header-addon"></div>
      </div>
    </div>
  </div>

  <loader *ngIf="isFetching"></loader>

  <div class="company-group" *ngIf="!isFetching">
    <div class="row center-content m-b-4">
    <div class="col-md-2" *ngFor="let l of Companies">
      <a href="{{l.websiteLink}}">
      <div class="company center-content ">
      <div class="center-content  text-center" >
        <div class="logo">
          <img src="{{l.logoLink}}" alt="" class="img-responsive m-a-auto">
        </div>
      </div>
    </div>
      </a>
    </div>
    </div>
  </div>
</div>
