@import "../styles/colors";

.container-fluid {
  min-height:100%;
  background: url('https://i.imgur.com/ln8xKcf.jpg');
  height: 100%;
  color: white;
}

.sections-header h3 {
    color: white;
}

.sections-header-addon
{
    background: white;
}

.sebm-google-map-container {
  height: 300px;
  width: 100%;
}

.contacts-text {
    font-size: 18px;
}

.form-control {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 10px;
}

textarea {
    min-height: 100px;
}



