<div class="container-fluid p-x-4" id="contacts">
  <div class="sections-header text-center">
    <h3><strong>Контакти </strong></h3>
    <div class="center-content">
      <div class="sections-header-addon"></div>
    </div>
  </div>

  <loader *ngIf="isFetching"></loader>

  <div *ngIf="!isFetching">
    <div class="row p-b-2">
      <div class="col-md-offset-1 col-md-5 map">

        <sebm-google-map [latitude]="contact.latitude" [longitude]="contact.longitude" [zoom]="17">
          <sebm-google-map-marker [latitude]="contact.latitude" [longitude]="contact.longitude"></sebm-google-map-marker>
        </sebm-google-map>
      </div>

      <div class="col-md-offset-1 col-md-4 contactus-form m-t-3">
        <p *ngIf="formError!=null" >{{formError}}</p>

        <form  (ngSubmit)="sendMessage()" #cForm="ngForm"   *ngIf="isFormActive">
        <input type="text" required class="form-control text-contrast-inverse m-y-2 p-x-1" placeholder="Ім'я" id="name" name="name" [(ngModel)]="name" ngControl="name">
        <input type="email" required class="form-control text-contrast-inverse m-y-2 p-x-1"  placeholder="E-mail" id="email" name="email" [(ngModel)]="email" ngControl="email">
        <textarea required class="form-control text-contrast-inverse m-y-2 p-x-1" placeholder="Повідомлення" [(ngModel)]="message" name="messsage" id="messsage" ngControl="message"></textarea>
        <input type="submit" class="btn btn-link btn-outline"  [disabled]="submited" value="Зв'язатися з нами">
        </form>
        <h3 *ngIf="!isFormActive"  class="text-contrast-inverse">Ваше повідомлення відправлено</h3>
      </div>
    </div>

    <div class="row m-t-2 p-b-3 contacts-text">
      <div class="col-md-offset-1 col-md-2">
        <div>вул. {{contact.street}}, {{contact.building}}</div>
        <div>{{contact.zipCode}}, {{contact.city}}, {{contact.country}}</div>
      </div>
      <div class="col-md-2">
        <div>{{contact.telephone1}},</div>
        <div>{{contact.telephone2}}</div>
      </div>
      <div class="col-md-2">
        <div>{{contact.email}}</div>
      </div>
    </div>
  </div>
</div>
