<div class="container-fluid shadow--2dp" id="facts">


  <div class="col-md-12">
    <div class="sections-header text-center ">

      <h3><strong>Факти</strong></h3>
      <div class="center-content">
        <div class="sections-header-addon"></div>
      </div>
    </div>
  </div>

  <loader *ngIf="isFetching"></loader>

    <div class="row" *ngIf="!isFetching">
      <div id="carousel-facts" class="carousel slide" data-ride="carousel">


        <!-- Wrapper for slides -->
        <div class="carousel-inner m-a-4" role="listbox">
          <div class="item " *ngFor="let l of Facts;let i=index" [ngClass]="{'active':i==0}">
            <div class="col-md-10 col-md-offset-2 row" >
              <div class="col-md-2 wrapper">
                <img src="{{l.pic}}" alt="" class="img-responsive pull-right">
              </div>
              <div class="col-md-7">
                <p>{{l.content}}</p>

              </div>
            </div>
          </div>

        </div>
        <!-- Indicators -->
        <div class="row">
        <ol class="carousel-indicators">
          <li
            *ngFor="let l of Facts;let i=index" [ngClass]="{'active':i==0}"

            data-target="#carousel-facts" [attr.data-slide-to]="i"></li>

        </ol>
        </div>
      </div>


    </div>


</div>
