@import "../styles/colors";


.container-fluid{
  background-color: white;
}

.wrapper{
  height: 220px;
}
.fact{
  padding: 20px;
  max-width:400px;
}

img{
max-height: 200px;
}

$circle_size:12px;

.carousel-indicators li{
  border: 1px solid $lightgray;
  background: $lightgray;
  height: $circle_size;
  width: $circle_size;
  &.active{
    background: white;
    width: $circle_size*1.2;
    height:$circle_size*1.2;

  }

}
