@import "../styles/colors";

li.active {
  background: #eee;
}

a {
  color: $main_color;
}

ul li{
  cursor: pointer;
}
.nav {
  a {
    color: $main_color;
    font-size: $plain_font;
  }

}
.member-body {
  max-width: 800px;
}
