<div class="container-fluid m-y-4" id="mprograms">
  <div class="sections-header text-center ">

    <h3><strong>Магістерські програми</strong></h3>
    <div class="center-content">
      <div class="sections-header-addon"></div>
    </div>
  </div>


  <loader *ngIf="isFetching"></loader>


  <div class="row section-content reverse" *ngIf="!isFetching">




    <!--{{Uprograms|json}}-->
    <div class="col-md-3">
      <ul class="nav text-right" role="tablist" >
        <li role="presentation" *ngFor="let l of Mprograms;let i=index"  (click)="tabActive=ref.id"  #ref  [attr.id]="l.mpId"  [ngClass]="{'active': isActive(ref.id)}"><a >{{l.name}}</a></li>

      </ul>
    </div>

    <div class="col-md-9">
      <div class="tab-content">
        <div role="tabpanel" *ngFor="let l of Mprograms;let i=index" class="tab-pane"  #tab [ngClass]="{'active':tab.id===tabActive }" [attr.id]="l.mpId">
          <div class="row p-x-2 reverse">
            <div class="col-md-3">
              <div class="row  p-a-2 border">
                <div class="member">
                  <div class="image m-x-auto" *ngIf="l.professor!=null">
                    <img class=" img-responsive img-center m-l-auto" src="{{l.professor.photoLink}}" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-12 member-body">
              <p>{{l.desscription}} {{l.mpId}}</p>
              <div >
                <a [routerLink]="['/mprograms/'+l.mpId]" class="btn btn-outline-inverse pull-right">Детальніше</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
