@import "../styles/colors";

.container-fluid{
  padding-left: 0px;
}

.news-item{
  background:white;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  height: fit-content;
}

.news-header {
  border-bottom: 1px solid #eaeaea;
  padding: 2px 5px 12px 5px;
  h4 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}

.news-body {
  height: 400px;
  background-size:cover;
  background-position: center;
}

.news-text {
  width: 100%;
  height: 400px;
  padding: 20px;
  position: absolute;
  left: 0;
  top:0px;
  font-size: 20px;
  font-weight: 300;
  transition:all 1s ease;
  opacity: 0;

  p {
      height: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: ghostwhite;
  }
}

.news-item:hover .news-text{
  background: rgba(0, 0, 0, 0.7);
  animation:fade 400ms ease-in ;
  opacity: 1;
}

.btn-outline {
  color: white;
}

.btn-outline:hover{
  color: $main_color;
}

@keyframes fade {
0%{
  opacity: 0;
}

100%{
  opacity: 1;
}

}

.container-fluid {
    background: $sections2;
}
