<div class="container-fluid" id="news">

  <div class="sections-header text-center ">
    <h3><strong>Новини</strong></h3>
    <div class="center-content">
      <div class="sections-header-addon"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <loader *ngIf="isFetching"></loader>

      <div *ngIf="!isFetching">
        <div class="col-md-4" *ngFor="let item of items.slice(0,3)">
          <div class="news-item">
            <div class="news-header text-center ">
              <h4>{{item.title}}</h4>
            </div>
            <div class="news-body img-responsive col-md-12"
                 [ngStyle]="{'background-image': 'url('+item.photoLink+')'}">

              <div class="news-text text-center ">
                <p class="">{{item.snippet}}</p>
                <a [routerLink]="['/blog', item.newsItemId]" class="btn btn-link btn-outline">Читати далі</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row center-content p-t-3 p-b-50">
    <a [routerLink]="['/blog']" class="btn btn-link btn-outline-inverse">Показати всі</a>
  </div>

</div>
