@import "../styles/colors";


.image::before,
.image::after,
.container-fluid{
  background-color: $sections2;
}

.border{
  height: 500px;
  width: 250px;
  img{
    width: 250px;
  }
}

.center-content{
  a{

    text-decoration: none;
  }
}
.member{
    position: relative;



    .text{
      background: $main_color;
    }


    .image{
      *{
        color: white;
      }

      border: 2px solid $main_color;
    }


}

