<div class="container-fluid shadow--2dp" id="proff">
  <div class="sections-header text-center ">
    <h3><strong>Викладачі</strong></h3>
    <div class="center-content">
      <div class="sections-header-addon"></div>
    </div>
  </div>


  <loader *ngIf="isFetching"></loader>

  <div class="row center-content " *ngIf="!isFetching">

    <div class=" col-md-3 center-content" *ngFor="let l of Professors.slice(0,4)">
      <a [routerLink]="['/professors/'+l.professorId]">
      <div class="row  p-a-2 border">
        <div class="member">
          <div class="image m-x-auto">
            <img class=" img-responsive img-center m-l-auto" src="{{l.photoLink}}" alt="">
            <div class="text p-a-2">
            <h6 class="m-a-0">{{l.name}}</h6>
            <p><i>{{l.position}}</i></p>
            </div>
          </div>

        </div>
      </div>
    </a>
      </div>

  </div>

  <div class="center-content p-a-4 " style="width: 100%">
    <a routerLink="/professors" class="btn btn-link btn-outline-inverse main-color">Показати всі</a>
  </div>

</div>
