﻿@model FacultyLanding.Models.Company

@{
    ViewData["Title"] = "AdminDelete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Website
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebsiteLink)
        </dd>
        <dt>
            Logo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoLink)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
