﻿@model FacultyLanding.Models.Company

@{
    ViewData["Title"] = "AdminDetails";
}

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Website
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebsiteLink)
        </dd>
        <dt>
            Logo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
