﻿@using FacultyLanding.Models

@model IEnumerable<Company>

@{
    ViewData["Title"] = "FactAdmin";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Company" asp-action="Index" method="get"></form>
<table class="table">
    <thead>
        <tr>
            <th class="no_sort">
                Logo
            </th>
            <th>
                Company's website
            </th>
            <th ></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.LogoLink)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebsiteLink)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompanyId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CompanyId">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
