﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FacultyLanding</title>
    <base href="/" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    @RenderSection("styles", required: false)
</head>
<body>
    @if (ViewData["NoNavbar"] == null)
    {
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a asp-action="Index" asp-controller="Fact">Facts</a></li>
                    <li><a asp-action="Index" asp-controller="NewsItem">News</a></li>
                    <li><a asp-action="Index" asp-controller="MasterProgram">MPrograms</a></li>
                    <li><a asp-action="Index" asp-controller="UndergradProgram">UPrograms</a></li>
                    <li><a asp-action="Index" asp-controller="Contact">Contacts</a></li>
                    <li><a asp-action="Index" asp-controller="Professor">Professors</a></li>
                    <li><a asp-action="Index" asp-controller="Review">Reviews</a></li>
                    <li><a asp-action="Index" asp-controller="Company">Companies</a></li>
                </ul>
                <ul class="pull-right nav navbar-nav">
                    <li>
                        <a asp-action="ChangePassword" asp-controller="Home" style="float:right; padding-right:5px;">Change password</a>
                    </li>
                    <li>
                        <a asp-action="LogOff" asp-controller="Home"  style="float:right">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    }

    <div class="container">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
     <script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.table').DataTable();
            tinymce.init({ selector:'textarea' });
        })
        
    </script>
    @RenderSection("scripts", required: false)
    </div>

</body>

</html>