﻿@model FacultyLanding.Models.NewsItem

@{
    ViewData["Title"] = "AdminDetails";
}

<div>
    <h4>NewsItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.Raw(Model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Snippet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Snippet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NewsItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
