﻿@using FacultyLanding.Models

@model IEnumerable<NewsItem>

@{
    ViewData["Title"] = "NewsAdmin";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="NewsItem" asp-action="Index" method="get">

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Title", "Index")
            </th>
            <th>
                @Html.ActionLink("Snippet", "Index")
            </th>
            <th class="no_sort">
                @Html.ActionLink("PhotoLink", "Index")
            </th>
            <th>
                @Html.ActionLink("PublicationDate", "Index")
            </th>
            <th class="no_sort"></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Snippet)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.PhotoLink)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewsItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NewsItemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NewsItemId">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
