@import "styles/colors";
html {
  height: 100%;
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
  text-shadow: none;
}

p {
  font-size: $plain_font !important;
  color: darken($gray, 15%)
}

h6 {
  font-size: $plain_font*1.1 !important;
  color: darken($gray, 15%)
}

h5 {
  font-size: $plain_font*1.25 !important;
  color: darken($gray, 30%)
}

h4 {
  font-size: $plain_font*1.4 !important;
  color: darken($gray, 40%);
}

h3 {
  font-size: $plain_font*1.6 !important;
  color: darken($gray, 60%);
}

.text-contrast {
  color: darken($font_color_plain, 40%);
}

.text-contrast-inverse {
  color: lighten($font_color_plain, 40%);
}

body {
  overflow-x: hidden;
  min-height: 100%;
}

app>*:last-child {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 1 auto;
}

.btn-outline {
  border-radius: 0px;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-weight: 700;
  &:hover {
    color: $main_color;
  }
}



.form-control {
  border: 1px solid $lightgray !important;
  box-shadow: none !important;

  &.ng-invalid {
   
    border: 1px solid red !important;
  }
   &.ng-untouched {
      border: 1px solid white !important;
    }


  &:focus {
    border: 2px solid $lightgray;
  }
}

.btn {
  box-shadow: none;
}

.map {
  position: relative;
}

.map:after {
  border-right: 2px solid $lightgray;
  border-top: 2px solid $lightgray;
  right: 0;
  top: -5%;
}

.map:before {
  border-left: 2px solid $lightgray;
  border-bottom: 2px solid $lightgray;
  bottom: -5%;
  left: 0;
}

.map:after,
.map:before {
  content: '';
  height: 20%;
  width: 10%;
  position: absolute;
}

.border {
  display: flex;
  position: relative;
  width: 250px;
  height: 300px;
  .member {
    h6,
    h5,
    h4,
    p,
    div {
      position: relative;
      z-index: 1;
    }
    position: absolute;
    margin: auto;
    display: flex;
  }
  .image::before {
    content: '';
    width: 104%;
    height: 60%;
    margin: auto;
    position: absolute;
    left: -2px;
    top: 20%;
    background: white;
  }
  .image::after {
    content: '';
    width: 60%;
    height: 104%;
    margin: auto;
    position: absolute;
    left: 20%;
    top: -4px;
    background: white;
  }
  .image {
    img {
      width: 200px;
      z-index: 1;
      position: relative;
    }
    padding: 10px;
    border:2px solid $main_color;
    z-index: 1;
    position: relative;
  }
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.btn-outline-inverse {
  box-shadow: none;
  border: 1px solid $main_color !important;
  border-radius: 1px;
  color: $main_color !important;
}

.btn-outline-inverse:hover {
  color: white !important;
  background: $main_color;
}

.color-main {
  color: $main_color;
}

.part {
  background-color: #000;
}

.sections-header {
  font-weight: 500;
  color: $main_color;
  padding-bottom: 50px;
}

.container-fluid:hover .sections-header-addon,
.section-active .sections-header-addon {
  width: 180px !important;
}

.sections-header-addon {
  transition: all 300ms ease-out;
  width: 0px;
  height: 2px;
  background-color: $main_color;
}

.center-content {
  display: flex;
  justify-content: center;
}

.f-c-w {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.p-b-50 {
  padding-bottom: 50px;
}

.bg-white {
  background: white;
}

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: ( 0: ( x: 0, y: 0), 1: ( x: $spacer-x, y: $spacer-y), 2: ( x: ($spacer-x * 1.5), y: ($spacer-y * 1.5)), 3: ( x: ($spacer-x * 3), y: ($spacer-y * 3)), 4: ( x: ($spacer-x * 6), y: ($spacer-y * 6))) !default;
.w-100 {
  width: 100% !important;
}

// Margin and Padding
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@each $prop,
$abbrev in (margin: m, padding: p) {
  @each $size,
  $lengths in $spacers {
    $length-x: map-get($lengths, x);
    $length-y: map-get($lengths, y);
    .#{$abbrev}-a-#{$size} {
      #{$prop}: $length-y $length-x !important;
    } // a = All sides
    .#{$abbrev}-t-#{$size} {
      #{$prop}-top: $length-y !important;
    }
    .#{$abbrev}-r-#{$size} {
      #{$prop}-right: $length-x !important;
    }
    .#{$abbrev}-b-#{$size} {
      #{$prop}-bottom: $length-y !important;
    }
    .#{$abbrev}-l-#{$size} {
      #{$prop}-left: $length-x !important;
    }
    // Axes
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right: $length-x !important;
      #{$prop}-left: $length-x !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top: $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}