<ng-header></ng-header>
<main>

  <loader *ngIf="isFetching"></loader>


  <div class="container-fluid " id="mprograms-page" *ngIf="!isFetching">
    <div class="container-fluid ">
      <div class=" sections-header text-center p-b-1 ">
        <h3><strong>{{program.name}}</strong></h3>
        <div class="center-content">
        </div>
      </div>


      <div class="row  m-x-4 p-x-4 center-content">

        <div class="container">

          <h6 class="text-center">{{program.code}}</h6>
          <p>{{program.desscription}}</p>
        </div>
      </div>


      <div class="row p-a-2 m-a-4" *ngIf="program.professor!=null">
        <h4 class="text-center">Керівник</h4>
        <h5 class="text-center m-y-3">{{program.professor.name}}</h5>
        <div class="prof">
          <a [routerLink]="['/professors/'+program.professorId]">
            <div class="border">
            <div class="member">
              <div class="image m-x-auto">
                <img class=" img-responsive img-center m-l-auto" src="{{program.professor.photoLink}}" alt="">
              </div>
            </div>
            </div>
          </a>
        </div>
      </div>


    </div>
  </div>

</main>
<ng-footer></ng-footer>
