$background_media_hover:whitesmoke;
@import "../styles/colors";

.img-content{
  height: 500px;
  background-size: cover;
  background-position: center;

}


.list-group-item:hover{
  background:$background_media_hover ;
}

.container-fluid{

}
.member{
  position: relative;


  .image::before,.image::after{
    display: none;
    position: absolute;
    background: white;
    content: '';
    margin: auto;
  }
  .image{
    border: none;
  }

  &:hover{
    .image::after,.image::before{
      display: block;
    }
    .image{
      border: 2px solid $main_color;
    }
  }

}



.prof{
  display: flex;
  &>* {
    margin: auto;
    }
}

