<app>
  loading..
  <div id="preloader">
  <div>
  </div>
  </div>
</app>

@section styles  {
  <environment names="Development">
    <!--<link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />-->
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
  </environment>
  <environment names="Staging,Production">
      <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  </environment>
  <link rel="stylesheet" href="~/css/boot.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

@section scripts {
  <environment names="Development">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  </environment>
  <environment names="Staging,Production">
      <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
              asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
              asp-fallback-test="window.jQuery">
      </script>
      <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
              asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
              asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
      </script>
  </environment>
  <script src="~/dist/polyfills.js" asp-append-version="true"></script>
  <script src="~/dist/vendor.js" asp-append-version="true"></script>
  <script src="~/dist/main.js" asp-append-version="true"></script>
}
