﻿@model FacultyLanding.Models.UndergradProgram

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>UndergradProgram</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Desscription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Desscription" class="form-control" />
                <span asp-validation-for="Desscription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProfessorId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProfessorId" asp-items="ViewBag.ProfessorId" class="form-control"></select>
                <span asp-validation-for="ProfessorId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
