<ng-header></ng-header>
<main>


  <loader *ngIf="isFetching"></loader>


  <div class="container" *ngIf="!isFetching">
    <div class="row"><a [routerLink]="['/professors']" class="btn btn-outline"> до списку </a></div>
    <div class="row">
      <div class="col-md-5">
        .
        <div class="row m-y-3 p-a-2">
          <div class="member">
            <div class="image m-x-auto">
              <img class=" img-responsive img-center m-l-auto" src="{{professor.photoLink}}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 m-y-3 p-a-2">
        <h4>{{professor.name}}</h4>
        <h5>{{professor.title}}</h5>
        <h6>{{professor.position}}</h6>
        <p>{{professor.phone}}</p>
        <p>{{professor.email}}</p>
        <p>{{professor.website}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 m-x-4">

      <p [innerHtml]="professor.portfolio"></p>
        </div>
    </div>

  </div>


</main>
<ng-footer></ng-footer>
