@import "../styles/colors";


.image::before{
  content: '';
  width: 103%;
  height: 69%;
  margin: auto;
  position: absolute;
  left: -4px;
  top: 40px;
  background: white;
}
.image::after{
  content: '';
  width: 69%;
  height: 103%;
  margin: auto;
  position: absolute;
  left: 36px;
  top: -4px;
  background: white;
}

.image{
    img{
      width: 200px;
      z-index: 1;
      position: relative;
    }
  padding: 10px;
  border:2px solid $main_color;
  z-index: 1;
  position: relative;
}

a{
  font-size: $plain_font;
  color: $font_color_plain;
}



.member{
position: relative;
  display: flex;
  color: $font_color_plain;
  font-size: $plain_font;

}

.pull-right{
  display: flex;
  justify-content: flex-end;

}
