<ng-header></ng-header>
<main>


  <loader *ngIf="isFetching"></loader>
  <!-- Page Content -->
  <div class="container-fluid" *ngIf="!isFetching">
    <div class="sections-header text-center ">
      <h3><strong>Викладачі</strong></h3>
      <div class="center-content">
        <div class="sections-header-addon"></div>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12">
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <a routerLink="{{prof.professorId}}" *ngFor="let prof of professors">
              <div class="col-lg-12 text-center member m-y-3 p-a-2">
                <div class="col-md-4">
                  <img class="photo img-responsive img-center m-l-auto" src="{{prof.photoLink}}" alt="">
                </div>
                <div class="col-md-8 text-left">
                  <h4>{{prof.name}}

                  </h4>
                  <h5>{{prof.title}}</h5>
                  <h6>{{prof.position}}</h6>
                  <div class="col-md-12 pull-right">
                    <a class="btn btn.link btn-outline-inverse">Детальніше</a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">...</div>
          <div role="tabpanel" class="tab-pane" id="messages">...</div>
          <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div>

      </div>
    </div>
  </div>

</main>
<ng-footer></ng-footer>
