@import "../styles/colors";

nav{
  display: flex;
  flex-direction: column;


}

.member::before{
  content: '';
  width: 100%;
  height: 174px;
  position: absolute;
  left: -95px;
  top: -9px;
  background: white;
}

a{
  font-size: $plain_font;
  color: $font_color_plain;
}


.member{
  padding: 30px;
  border:2px solid $main_color;

  color: $font_color_plain;
  font-size: $plain_font;
}

.pull-right{
  display: flex;
  justify-content: flex-end;

}
.photo{
 width: 200px;
}
