﻿@model FacultyLanding.Models.Fact

@{
    ViewData["Title"] = "AdminDetails";
}

<div>
    <h4>NewsItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
