﻿@using FacultyLanding.Models

@model IEnumerable<Fact>

@{
    ViewData["Title"] = "FactAdmin";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Fact" asp-action="Index" method="get"></form>
<table class="table">
    <thead>
        <tr>
            <th class="no_sort">
                @Html.ActionLink("Pic", "Index")
            </th>
            <th>
                @Html.ActionLink("Content", "Index")
            </th>
            <th ></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Pic)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FactId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FactId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FactId">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
