<ng-header></ng-header>

<main class="container" style="padding: 20px 0">
  <loader *ngIf="isFetching"></loader>

  <div *ngIf="!isFetching">
    <div class="row">
      <a [routerLink]="['/blog']" class="btn btn-outline">До всіх новин</a>
    </div>
    <div class="row">
      <div class="photo">
        <img src="{{item.photoLink}}" class="img-responsive">
        <div class="overlay">
          <h4 class="title">{{item.title}}</h4>
          <h6 class="date">{{item.publicationDate | date:'dd.MM.y'}}</h6>
        </div>
      </div>
      <div class="content m-b-4" [innerHtml]="item.content"></div>
    </div>
  </div>
</main>

<ng-footer></ng-footer>
