<ng-header></ng-header>

<main class="container">
  <loader *ngIf="isFetching"></loader>

  <div *ngIf="!isFetching">
    <div class="sections-header text-center section-active">
      <h3><strong>Новини</strong></h3>
      <div class="center-content">
        <div class="sections-header-addon"></div>
      </div>
    </div>

    <div *ngFor="let item of items; let odd=odd; let even=even" class="row post"
        [ngClass]="{ odd: odd, even: even }">
      <div class="col-md-5 no-padding" *ngIf="even">
        <div class="photo">
          <img src="{{item.photoLink}}" class="img-responsive">
          <div class="overlay">
            <div class="title">{{item.title}}</div>
            <div class="date">{{item.publicationDate | date:'dd.MM.y'}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-7 info" *ngIf="even">
        <div class="snippet">{{item.snippet}}</div>
        <a [routerLink]="['/blog', item.newsItemId]" class="btn btn-outline-inverse pull-right">Читати більше</a>
      </div>


      <div class="col-md-7 info" *ngIf="odd">
        <div class="snippet">{{item.snippet}}</div>
        <a [routerLink]="['/blog', item.newsItemId]" class="btn btn-outline-inverse pull-right">Читати більше</a>
      </div>
      <div class="col-md-5 no-padding" *ngIf="odd">
        <div class="photo">
          <img src="{{item.photoLink}}" class="img-responsive">
          <div class="overlay">
            <div class="title">{{item.title}}</div>
            <div class="date">{{item.publicationDate | date:'dd.MM.y'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-footer></ng-footer>
