@import "../styles/colors";

.container {
    max-width: 900px;
}

a {
    font-size: $plain_font;
    color: $font_color_plain;
}

.photo {
    width: 100%;
    position: relative;

    img {
        width: 100%;
    }
}

.overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba($main_color, 0.5);
    padding: 5px 20px;

    .title {
        color: white;
    }

    .date {
        color: white;
        font-style: italic;
    }
}

.content {
    padding: 10px 20px 20px 20px;
    background-color: $sections2;
    white-space: pre-wrap;
    font-size: 14px;
}
