@import "../styles/colors";

.container {
    max-width: 1000px;
}

.post {
    margin-bottom: 30px;
    background-color: $sections2;
}

.no-padding {
    padding: 0 !important;
}

.photo {
    width: 100%;
    position: relative;

    img {
        width: 100%;
    }
}

.overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba($main_color, 0.5);
    padding: 5px 20px;

    .title {
        color: white;
    }

    .date {
        color: white;
        font-style: italic;
    }
}

.info {
    padding: 15px;
}

.snippet {
    white-space: pre-wrap;
    margin-bottom: 15px;
}

.even .overlay {
    text-align: right;
}

.odd .snippet {
    text-align: right;
}
