body {
    background: ghostwhite;
    font-family: sans-serif;
}

nav {
    font-size: 17px !important;
}

.table {
    table-layout: fixed;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-group img,
.table img {
    display: block;
    max-width: 100%;
    max-height: 150px;
}



.table thead {
    background: gray;
    color: white;
}

thead a {
    color: white;
}

/*.contacts {
    background: white;
    border-radius: 3px;
    border: 1px solid #ddD;
}

.col-md-5 .form-group {
    margin: 21px 15px !important;
}*/
th.no_sort.sorting_desc::after,
th.no_sort.sorting_asc::after,
th.no_sort.sorting::after{
    display: none !important;
}