﻿@model FacultyLanding.Models.MasterProgram

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>NewsItem</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Desscription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Desscription" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProfessorId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProfessorId"  asp-items="ViewBag.ProfessorId" class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
