﻿@model FacultyLanding.Models.MasterProgram

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>MasterProgram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desscription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desscription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
