﻿@using FacultyLanding.Models

@model IEnumerable<MasterProgram>

@{
    ViewData["Title"] = "NewsAdmin";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorId)
            </th>
            <th class="no_sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desscription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfessorId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MpId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MpId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MpId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</table>
